.header {
  background-image: url(/images/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  z-index: 99999;
  position: relative;
  max-height: 100vh;
}
.header .header__firstPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 41px 0px 71px;
}
.header .header__logo img {
  margin: 0 auto;
  display: block;
}
.header .header__title {
  font-family: 'Bebas Neue';
  color: #fff;
  font-size: 60px;
  line-height: 70px;
  display: block;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 5.70937px;
  margin: 0 auto;
}
.header .header__text {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 19px;
  display: block;
  color: #fff;
  align-items: flex-end;
  text-align: center;
}
.header .header__scroll_link {
  font-size: 11px;
  line-height: 13px;
  display: block;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 3.7px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}
.header .header__scroll_link:hover {
  color: #00a4e5;
  text-decoration: underline;
}

.header__nav {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 57px;
}
.header__nav__logo {
  z-index: 99999;
}
.header__nav .nav {
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
  display: flex;
  margin: 0 auto;
  background-color: #fff;
}
.header__nav .nav__menu {
  display: flex;
  gap: 48px;
}
.header__nav .nav .menu__link {
  color: #48555b;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 1.09091px;
  text-transform: uppercase;
  transition: all 0.3s;
}
.header__nav .nav .menu__link:hover {
  color: #00a4e5;
}
.header__nav .nav__logo {
  display: block;
  height: 17px;
}

.nav__menu.active {
  top: 109%;
  transition: all 0.3s;
  width: 100%;
  z-index: 999;
}

.burger {
  display: none;
  width: 40px;
  height: 16px;
  z-index: 10;
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
}
.burger span {
  position: absolute;
  width: 100%;
  background-color: #48555b;
  height: 2px;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: 50% 50%;
  transition: top 0.3s 0.3s, transform 0.3s;
}
.burger::before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 2px;
  display: block;
  background-color: #48555b;
  transform-origin: 50% 50%;
  transition: top 0.3s 0.3s, transform 0.3s;
}
.burger::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  height: 2px;
  display: block;
  background-color: #48555b;
  transform-origin: 50% 50%;
  transition: all 0.3s;
}

.burger.active::after {
  transform: rotate(45deg);
  top: 7px;
}

.burger.active::before {
  transform: rotate(-45deg);
  bottom: 7px;
}

.burger.active span {
  transform: scale(0);
}
