.footer {
  background-color: #141a20;
  color: #fff;
  &__inner {
    padding: 40px 0;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    max-width: 250px;
    width: 100%;
    &_top-text {
      font-size: 11px;
      line-height: 13px;
      display: flex;
      align-items: flex-end;
      text-align: center;
      letter-spacing: 0.846154px;
      margin-bottom: 19px;
    }
    &_logo {
      margin-bottom: 15px;
      display: block;
    }
    &_text {
      font-size: 11px;
      line-height: 19px;
      display: flex;
      align-items: center;
      letter-spacing: 0.85px;
    }
  }
  &__center {
    &_text {
      font-size: 11px;
      line-height: 13px;
      display: flex;
      align-items: flex-end;
      letter-spacing: 0.846154px;
      margin-bottom: 15px;
    }
    &_links {
      display: flex;
      gap: 34px;
    }
    &_item {
      list-style: none;
    }
    &_link {
      text-decoration: none;
      color: #fff;
      font-size: 11px;
      line-height: 25px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      transition: all 0.3s;
      letter-spacing: 0.846154px;
      &:hover {
        color: #00a4e5;
      }
    }
  }
  &__right {
    &_top-text {
      font-size: 11px;
      line-height: 13px;
      display: flex;
      align-items: flex-end;
      letter-spacing: 0.846154px;
      margin-bottom: 19px;
    }
    &_inner {
      display: flex;
      gap: 45px;
    }
    &_address {
      max-width: 141px;
      width: 100%;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.846154px;
    }
    &_location {
      margin-bottom: 20px;
    }
    &_phone {
      margin-bottom: 20px;
      display: block;
      text-decoration: none;
      color: inherit;
      transition: all 0.3s;
      &:hover {
        color: #00a4e5;
        text-decoration: underline;
      }
    }
    &_mail {
      text-decoration: none;
      color: inherit;
      &:hover {
        color: #00a4e5;
        text-decoration: underline;
      }
    }
    &_icons {
      &_link + &_link {
        margin-left: 15px;
      }
    }
  }
}
.copyright {
  background-color: #171819;
  color: #fff;
  &__inner {
    padding: 22px 0px;
    text-align: center;
  }
}
