@media screen and (max-width: 980px) {
  .services {
    &__top {
      margin-bottom: 50px;
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
      gap: 5px;
    }
    &__item {
      padding: 13px;
      min-width: 100px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 920px) {
  .header__nav {
    margin-bottom: 35px;
  }
  .story {
    margin-bottom: 50px;
    &__title {
      text-align: center;
    }
    &__content {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    & &__item {
      padding-bottom: 90px;
    }
  }
  .section__title {
    margin: 0 auto;
    margin-bottom: 35px;
    &:after {
      margin: 0 auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .services {
    &__top {
      flex-direction: column;
    }
    &__about {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 820px) {
  .footer {
    &__right {
      display: none;
    }
  }
}
@media screen and (max-width: 620px) {
  .sub {
    gap: 10px;
  }
}
@media screen and (max-width: 600px) {
  .nav__menu {
    display: flex;
    gap: 19px;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    margin: 0 auto;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 30px;
    top: 0%;
    transition: all 0.3s;
  }
  .burger {
    display: block;
    z-index: 99999;
  }
  .sub {
    flex-direction: column;
  }
  .footer {
    &__inner {
      flex-direction: column;
      text-align: center;
      align-items: center;
      gap: 34px;
    }
    &__left_top-text {
      display: block;
    }
    &__center_text {
      display: block;
    }
  }
}

@media screen and (max-width: 530px) {
  .services__bottom {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .section__title {
    margin-bottom: 25px;
  }
  .story {
    &__title {
      margin-bottom: 15px;
      font-size: 16px;
    }
    &__items {
      flex-direction: column;
      width: 100%;
    }
    & &__item {
      padding: 15px;
      width: 100%;
      background-size: cover;
    }
  }
}

@media screen and (max-width: 420px) {
  .header .header__title {
    font-size: 45px;
    line-height: 50px;
  }
  .header .header__text {
    font-size: 14px;
    line-height: 25px;
  }
  .services {
    &__top {
      margin-bottom: 30px;
    }
    &__about {
      gap: 10px;
      flex-direction: column;
      &_button {
        max-width: 100%;
      }
    }
  }
  .sub {
    &__button {
      max-width: 75px;
    }
    &__input {
      padding: 11px 6px;
    }
  }
}
